@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Article
@{
   
}

<div id="articles_main">
    <div class="text-center text-justify">@Model.Story</div>
</div>

<div class="position-rel-bottom">
    <nav aria-label="Article Page Navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Prevoius</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>

