@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img-fluid mt-4" srcset="/img/khemical-koder-logo-480.png 480w,
         /img/khemical-koder-logo-880.png 880w"
         sizes="(max-width: 720px) 70vw, 50vw"
         src="img/khemical-koder-logo-440.png" alt="khemicalkoder-logo" />
    <p class="text-md-center mt-2 fira-sans-font w-75 mr-auto ml-auto">
        This website belong to me, Abdullahi Usman(Khemical Koder). I love writing software, as well as doing software molecular simulation. My code is my art, while chemistry gives a sense of being. You can follow my journey here, or follow me on my social media accounts.
    </p>
    <div class="d-flex flex-wrap flex-mobile-wrap justify-content-center">

        <a class="text-success p-2 bg-dark font-size-larger no-text-decoration" href="https://www.twitter.com/khemicalkoder" target="_blank">
            <i class="fab fa-twitter mr-1"></i><span style="font-family: cursive">Twitter</span>
        </a>

        <a class="text-success p-2 bg-dark font-size-larger no-text-decoration" href="mailto:khemicalkoder@gmail.com" target="_blank">
            <i class="fas fa-envelope-open-text mr-1"></i><span style="font-family: cursive" class="fira-sans-font">Send me an email</span>
        </a>


    </div>
</div>